  <aside class="bg-dark" id="contact">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Dúvidas? Sugestões?</h2>
              <h3>Abra uma issue no <a href="https://github.com/nodeschool/rio/issues">GitHub</a> e nos ajude!</h3>
              <p> Se você ainda não estiver no GitHub, crie uma  <a href="https://github.com/join">conta gratuita</a> e de uma olhada no <a href="http://nodeschool.io/#git-it">Git-it</a> workshop. Isso com certeza vai te ajudar a começar.</p>
          </div>
      </div>
  </aside>
