<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nós precisamos de VOCÊ!</h2>
                <hr class="light">
                <p class="text-faded">Estamos planejando o primeiro NodeSchool no Rio de Janeiro! Você gostaria de participar ou de nos ajudar? Entre em contato conosco em nossa página no GitHub!</p>
                <a href="https://github.com/nodeschool/rio/issues" class="btn btn-default btn-xl">Aliste-se!</a>
            </div>
        </div>
    </div>
</section>
