<section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Hall da FAMA!</h2>
          <hr class="primary">
          <p>[[ main.message ]]</p>
        </div>
        <div class="col-sm-4 col-md-3" ng-repeat="contributor in main.contributors">
          <div class="thumbnail">
            <img ng-src="[[ contributor.avatar_url ]]" alt="[[ contributor.login ]]">
            <div class="caption text-center">
              <a href="[[ contributor.html_url ]]" target="_blank">
                <h3>@[[ contributor.login ]]</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
