<header>
    <div class="header-content">
        <div class="header-content-inner">
          <div class="brand">
            <img src="img/nodeschool-rio.svg" alt="NodeSchool Rio de Janeiro">
          </div>
          <h1>NodeSchool Rio de Janeiro</h1>
          <hr>
          <p>NodeSchool é um projeto Open Source organizado por voluntários com dois objetivos: criar um currículo de programação de alta qualidade e hospedar eventos de aprendizado para a comunidade.</p>
          <a href="#about" class="btn btn-primary btn-xl page-scroll">Aliste-se</a>
        </div>
    </div>
</header>
