<header>
    <div class="header-content">
        <div class="header-content-inner">
          <div class="brand">
            <img src="img/nodeschool-rio.svg" alt="NodeSchool Rio de Janeiro">
          </div>
          <h1>NodeSchool Rio de Janeiro</h1>
          <hr>
          <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
          <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
